* {
  background-color: #BCAC9B;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: #7A6C5D;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-right: 1vh;
  padding-left: 10vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.nav-bar h1 {
  background-color: #7A6C5D;
}

.navItem {
  background-color: #7A6C5D;
  margin-top: 0.5vh;
  display: flex;
}

.navItem p {
  background-color: #7A6C5D;
}

.navThing {
  background-color: #7A6C5D;
  margin-right: 8vh;
  font-size: 25px;
  font-weight: bolder;
}

.contacts {
  background-color: #7A6C5D;
  color: #FFFFFF;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 0.5vh;
  margin-left: 3vh;
  border-radius: 20px;
  margin-bottom: 5vh;
}

.titleOfContacts{
  font-size: 8vh;
}

.contacts p {
  background-color: #7A6C5D;
  margin-top: 2vh;
  margin-bottom: 4.5vh;
  font-size: 4vh;
  font-weight: bold;
  margin-left: 1vh;
}
.titleOfContacts{
  font-size: 8vh;
  background-color: #7A6C5D;
  margin-bottom: 5vh;
}
.contactItem {
  background-color: #BCAC9B;
  margin-bottom: 3vh;
  padding-top: 2vh;
  border-radius: 20px;
  font-size: 100vh;
  display: flex;
  justify-content: end;
  padding-right: 2vh;
  padding-left: 3vh;
  font-size: 1vh;
  font-weight: bold;
}

.contactItem p {
  background-color: #BCAC9B;
  border-radius: 20px;
}

.floatContainer {
  padding: 20px;
}

.floatChild {
  width: 33%;
  float:left;
}

.floatChild2 {
  width: 67%;
  float:left;
}

.relation {
  font-size: 3vh;
}

.hide {
  color: #BCAC9B;
}

.titleOfContacts{
  font-size: 8vh;
}

.icon {
  height: 15vh;
  margin-left: 1vh;
  background-color: #7A6C5D;
  border-radius: 20px;
}

.activityStatus {
  height: 2vh;
  width: 2vh;
  background-color: greenyellow;
  margin-bottom: 1vh;
  border-radius: 20px;
  margin-top: 0.25vh;
  margin-right: 0.01vh;
}

.activityOffline {
  height: 2vh;
  width: 2vh;
  background-color:grey;
  margin-bottom: 1vh;
  border-radius: 20px;
  margin-top: 0.25vh;
  margin-right: 0.01vh;
}

.mySchedule {
  margin-left: 4vh;
  background-color: #7A6C5D;
  border-radius: 20px;
  position: relative;
  margin-right: 3vh;
}

.titleTing {
  font-size: 8vh;
  color: white;
  background-color: #7A6C5D;
  margin-right: 10vh;
  margin-left: 4.5vh;
}

.internalTing{
  padding: 4.5vh;
  background-color: #7A6C5D;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
}

.timeblocks {
margin-right: 2.5vh;
text-align: center;
display: table;
table-layout: fixed;
width: 30%;
box-sizing: border-box;
justify-content: space-around;
background-color: #7A6C5D;
}

.busyTimeBlock, .workTimeBlock, .funTimeBlock, .newTimeBlock {
  text-align: center;
  border-radius: 20px;
  margin: 1vh;
  margin-top:0;
  margin-left: 0;
  height: 3vh;
  width: 35vh;
  padding-top: 0vh;
  padding-bottom: 12vh;
  color:#FFFFFF;
  font-size: 10vh;
  font-weight: bold;
  margin-bottom: 2.5vh;
}

.newTimeBlock {
  margin-bottom: 0;
}


.blockText{
  margin-bottom: 10vh;
}

.internalTing {
  height: 67vh;
  }

.daySchedule {
  width: 62%;
  border-radius: 20px;
  padding: 4vh;
}

.date {
  color: white;
  font-size: 8vh;
  font-weight: bold;
  margin-bottom: 4vh;
}

.daySchedule {
  padding-top: 0;
}

.slotTask {
  background-color: #7A6C5D;
  color: white;
  padding: 2vh;
  border-radius: 20px;
  display:flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.busyTing {
  font-size: 8vh;
  font-weight: bold;
  background-color: #7A6C5D;
  margin-left: 3vh
}

.timingTing {
  background-color: #7A6C5D;
  font-size: 4vh;
  font-weight: bold;
}

